<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<title>Eliana Loenova, veebiprogrammeerimine 2023</title>
	<script>var exports = {};</script>
	<script src="first.js" defer></script>
	<script src="main.js" type="module" defer></script>
</head>
<body>

	<img src="http://localhost:49895/~rinde/media/pics/banner/vp_banner_2023.png"
		alt="veebiprogrammeerimise kursuse banner" />
	<h1>Eliana Leonova</h1>
	<p>See leht on loodud <a href="https://www.tlu.ee" target="_blank">TLÜ</a> Digitehnoloogiate instituudis õppetöö
		raames!</p>
	<p>Ma pole kunagi varem programmeerinud.</p>
	<p>Olen väga elevil!</p>
	<hr>
	<p>Kursus, mille raames leht tehti on: veebiprogrammeerimine. </p>
    <hf>
    <ul>
        <li><a href="/timenow">Praegune hetk</a></li>
        <li><a href="/wisdom">Vanasõnad</a></li>
		<li><a href="/eestifilm">Eesti film</a></li>
		<li><a href="/news">Uudised</a></li>
    </ul>
    </hf>

	
</body>
</html>