<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Eliana Loenova, veebiprogrammeerimine 2023</title>
  <script src="first.js" defer></script>
</head>

<body>
  <img src="http://localhost:49895/~rinde/media/pics/banner/vp_banner_2023.png" alt="veebiprogrammeerimise kursuse banner" />
  <h1>Eesti tegelased</h1>

  <ul>
    <li><a href="/eestifilm/">Tagasi</a></li>
    <li><a href="/">Avalehele</a></li>
  </ul>
  <hr>
  <h2>Andmebaasis olevad tegelased</h2>
  <ol>
    <% tegelased.forEach (function(tegelane) { %>
    <li>
      <%= tegelane.first_name %> <%= tegelane.last_name %>, sünniaasta: <%= new Date(tegelane.birth_date).getFullYear() %>
    </li>
    <% }); %>
  </ol>
</body>

</html>